.html{
	width: 100%;
	height: 100%;

}
.wrapper {
	min-height: 100%;
	min-width: 1100px;
	font-family: "Roboto";
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.wrapper__content{
	flex: 1;
}
.header {
	background: #4b73b5;
	position: relative;
}
.container{
	width: 1060px;
	margin: 0 auto;
	display: flex;
}
.container-content{
	width: 1060px;
	margin: 0 auto;
	display: flex;
}
.container--flex{
	display: flex;
	justify-content: space-between;
	align-items: center
}
.logo{
	display: inline-block;
	vertical-align: bottom;
}
.company-contacts{
}
.company-contacts__phone{
	color: white;
  	font-size: 21px;
  	font-weight: bold;
}

.company-contacts__text{
	color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;  
}
.body{
	margin: 0;
	padding: 0;
	font-family: "roboto";
	font-size: 14px;
	line-height: 18px;
	width: 100%;
	height: 100%;
}
.breadcrumbs{
	text-decoration: none;
}
.breadcrumbs__pages{
	display: flex;
}
.breadcrumbs__pages-item{
	margin-right: 5px;
}
.breadcrumbs__pages-item:last child{
	margin-right: 0;
}
.aside{
	width: 30%;
}
.nav__item{
	list-style: none;
	overflow: hidden;
}
.nav__link{
	text-decoration: none;
	display: flex;
	font-family: roboto;
	text-transform: uppercase;
	color:#4b73b5;
	margin: 20px;
}
.nav__link:hover{
	color: black;
}
.nav__title{
	font-family: roboto;
}
.nav__icon{
	margin-right: 20px;
	width: 24px;
	height: 20px;
	background: center center no-repeat;
	color: black;
	transition: 1.5s;
}
.nav__icon--direction{
	background-image: url(../images/main_icon.png);
}
.nav__icon--star{
	background-image: url(../images/feed_icon.png);
}
.nav__icon--crew{
	background-image: url(../images/team_icon.png);
}
.nav__link:hover .nav__icon--direction{
	background-image: url(../images/main_icon-hover.png);
}
.nav__link:hover .nav__icon--star{
	background-image: url(../images/feed_icon-hover.png);
}
.nav__link:hover .nav__icon--crew{
	background-image: url(../images/team_icon-hover.png);
}
.nav__link:hover .nav__title{
	color: black;
	transition: 1.5s;
}
.nav__item--active .nav__icon--direction{
	background-image: url(../images/main_icon.png);
}
.nav__item--active .nav__icon--star{
	background-image: url(../images/feed_icon.png);
}
.nav__item--active .nav__icon--crew{
	background-image: url(../images/team_icon.png);
}
.nav__item--active .nav__title {
	color: black;
}
.nav__item:last child {
	margin-bottom: 0;
}
.main{
	width: 70%;
}
.title{
	display: flex;
}
.crew{
}
.crew__desk{
	text-align: center;
}
.crew__icon{
	overflow: hidden;
	border-radius: 50%;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	filter: bluescale(100%);
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
	position: relative;
}
.crew__icon-effect{
	width: 160px;
	height: 160px;
	border-radius: 50%;
	background-color: rgba(75, 115, 181, 0.6);
	font-family: "Roboto-Bold", Arial,sans-serif;
	font-size: 24px;
	line-height: 165px;
	color: #fff;
	text-align: center;
	position: absolute;
	top:0;
	right: 0;
	transition-duration: 0.5s;
	cursor: pointer;
}
.crew__icon-img{
	overflow: hidden;
}
.crew__item{
	width: 33.3%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}
.crew__list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-decoration: none;
}


}
.part__list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.part__item{
	overflow: hidden;
	border-radius: 100%;
	width: 33.3%;
	height: 68px; 
	background: center center no-repeat;
	list-style: none;
}

.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 76px;
	background: #4b73b5;
}
.footer__text{
	color: white;
}
.LoftSchool{
	color: white;
}


.socials__item {
	display: flex;
	background: center center no-repeat;
	margin-right: 10px;
}
.socials__title{
	margin: 0;
	padding: 0;
	
}
.social__list{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
}
.social__link{
	width: 20px;
	height: 20px; 
	border-radius: 20px;
	display: block;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.5s;
}
..social__link:hover{
	background-color: grey;
}
.social__link--vk{
	background-image: url(../images/vk.png);
}
.social__link--fb{
	background-image: url(../images/fb.png);
}
.social__link--google{
	background-image: url(../images/google.png);
}
.social__link--twitter{
	background-image: url(../images/twitter.png);
}
.social__link--mail{
	background-image: url(../images/mail.png);
}
.ul{
	margin: 0;
	padding: 0;
}
.a {
	line-height: 100px;
    display: inline-block;
}
*{
	margin: >0;
	padding: >0;
	box-sizing: border-box;
}
.block {
 display: flex;
 justify-content: space-around; 
}