.html{
	width: 100%;
	height: 100%;

}
.wrapper {
	min-height: 100%;
	min-width: 1100px;
	font-family: "Roboto";
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.wrapper__content{
	flex: 1;
}
.header {
	background: #4b73b5;
	position: relative;
}
.container{
	width: 1060px;
	margin: 0 auto;
	display: flex;
}
.container-content{
	width: 1060px;
	margin: 0 auto;
	display: flex;
}
.container--flex{
	display: flex;
	justify-content: space-between;
	align-items: center
}
.logo{
	display: inline-block;
	vertical-align: bottom;
}
.company-contacts{
}
.company-contacts__phone{
	color: white;
  	font-size: 21px;
  	font-weight: bold;
}

.company-contacts__text{
	color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;  
}
.body{
	margin: 0;
	padding: 0;
	font-family: "roboto";
	font-size: 14px;
	line-height: 18px;
	width: 100%;
	height: 100%;
}
.breadcrumbs{
	text-decoration: none;
}
.breadcrumbs__pages{
	display: flex;
}
.breadcrumbs__pages-item{
	margin-right: 5px;
}
.breadcrumbs__pages-item:last child{
	margin-right: 0;
}
.nav__item{
	list-style: none;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.nav__link{
	text-decoration: none;
	display: flex;
	font-family: roboto;
	text-transform: uppercase;
	color:#4b73b5;
	margin: 20px;
}
.nav__link:hover{
	color: black;
}
.nav__title{
	font-family: roboto;
}
.nav__icon{
	margin-right: 20px;
	width: 24px;
	height: 20px;
	background: center center no-repeat;
	color: black;
	transition: 1.5s;
}
.nav__icon--direction{
	background-image: url(../images/main_icon.png);
}
.nav__icon--star{
	background-image: url(../images/feed_icon.png);
}
.nav__icon--crew{
	background-image: url(../images/team_icon.png);
}
.nav__link:hover .nav__icon--direction{
	background-image: url(../images/main_icon-hover.png);
}
.nav__link:hover .nav__icon--star{
	background-image: url(../images/feed_icon-hover.png);
}
.nav__link:hover .nav__icon--crew{
	background-image: url(../images/team_icon-hover.png);
}
.nav__link:hover .nav__title{
	color: black;
	transition: 1.5s;
}
.nav__item--active .nav__icon--direction{
	background-image: url(../images/main_icon.png);
}
.nav__item--active .nav__icon--star{
	background-image: url(../images/feed_icon.png);
}
.nav__item--active .nav__icon--crew{
	background-image: url(../images/team_icon.png);
}
.nav__item--active .nav__title {
	color: black;
}
.nav__item:last child {
	margin-bottom: 0;
}
.review__item{
	display: flex;
	margin: 65px;
}
.review__avatar{
	background-image: url(../images/grey.png); 
	overflow: hidden;
	border-radius: 100%;
	width: 160px;
	height: 160px;
	margin-right: 20px;
	flex-shrink: 0;
}

.pagination{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 60px;
}
.pagination__display{
	display: flex;
	align-items: center;
	margin-right: 20px;
	font-family: roboto;
	
}
.pagination__pages{
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}
.pagination__controlls{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.pagination__prev{
	margin-right: 18px;
	text-decoration: none;
}
.pagination__pages-item{
	margin-right: 18px;
}
.pagination__next{
	text-decoration: none;
}
.pagination__link{
	text-decoration: none;
}
.pagination__link--active{
	background: #4b73b5;
	text-decoration: none;
	color: white;
}
.support{
	background-color: #4bb56b;
	background-image: url(../images/mark.png);
	background-repeat: repeat;
	margin-bottom: 60px;
}
.support__text{
	width: 700px;
	margin: 0 auto;
	padding: 40px 0;
	color: #fff;
}
.container__form{
	flex-direction: column;
	width: 100%;
}
.commentsform{
	background: #f5f5f5;
	width: 700px;
	margin: 0 auto;
	padding: 50px;
	display: flex;
	flex-direction: column;
}
.commentsform__textarea{
	padding-top: 10px;
	resize: none;
	flex-grow: 1;
	height: 30px;
	padding-left: 10px;
	border: none;
	font-family: roboto;
	font-size: 16px;
	flex-shrink: 0;
}
.commentsform__textarea{
	padding-top: 10px;
	min-height: 100px;
}
.commentsform__box{
	display: flex;
}
.commentsform__col{
	margin: 20px;
}
.commentsform__text{
	width: 270px;
	height: 45px;
	font-size: 14px;
	color: #a9a8a8;
	padding: >0;
	box-sizing: border-box;
	border: none;
}
.commentsform__radio-lbl{
	display: inline-flex;
	align-items: center;
	margin-right: 10px;
}
.commentsform__radio-lbl:last child{
	margin-right: 0;
}
.form__radio{
	display: none;
}
.commentsform__radio-custom{
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #4b73b5;
	margin-right: 10px;
	position: relative;
}

.commentsform__radio-custom:after{
	content: "";
	display: block;
	width: 10px;
	background-color: #4b73b5;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: none;
	opacity: 0;
}
.commentsform__radio:checked + .commentsform__radio-custom:after{
	content: "";
	position: absolute;
	top:5px;
	left: 6px;
	width: 10px;
	height: 10px;
	background-color: #4b73b5;
	border-radius: 50%;
}
.commentsform__button{
	
	width:140px;
	height:45px;
	box-sizing: border-box;
	margin-top: 10px;
	border: none;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 2px;
	transition: 300ms;
	background: #4b73b5;
	border:none;
	font-family: roboto;
}
.button__icon{
	margin-right: 20px;
	width: 24px;
	height: 20px;
	color: white;
	transition: 1.5s;
	background: center center no-repeat;
	
}
.button__icon--direction{
	background-image: url(../images/main_icon.png);
}
.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 76px;
	background: #4b73b5;

}

.footer__text{
	color: white;
}
.LoftSchool{
	color: white;
}


.socials__item {
	display: flex;
	background: center center no-repeat;
	margin-right: 10px;
}

.social__list{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
}
.social__link{
	width: 20px;
	height: 20px; 
	border-radius: 20px;
	display: block;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.5s;
}
..social__link:hover{
	background-color: grey;
}
.social__link--vk{
	background-image: url(../images/vk.png);
}
.social__link--fb{
	background-image: url(../images/fb.png);
}
.social__link--google{
	background-image: url(../images/google.png);
}
.social__link--twitter{
	background-image: url(../images/twitter.png);
}
.social__link--mail{
	background-image: url(../images/mail.png);
}
.ul{
	margin: 0;
	padding: 0;
}

*{
	margin: >0;
	padding: >0;
	box-sizing: border-box;
}
.block {
 display: flex;
 justify-content: space-around; 
}