.html{
	width: 100%;
	height: 100%;

}
.wrapper {
	min-height: 100%;
	min-width: 1100px;
	font-family: "Roboto";
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.wrapper__content{
	flex: 1;
}
.header {
	background: #4b73b5;
	position: relative;
}
.container{
	width: 1060px;
	margin: 0 auto;
	display: flex;
}
.container-content{
	width: 1060px;
	margin: 0 auto;
	display: flex;
}
.container--flex{
	display: flex;
	justify-content: space-between;
	align-items: center
}
.logo{
	display: inline-block;
	vertical-align: bottom;
}
.company-contacts{
}
.company-contacts__phone{
	color: white;
  	font-size: 21px;
  	font-weight: bold;
}

.company-contacts__text{
	color: white;
    font-size: 14px;
    font-weight: bold;  
}
.body{
	margin: > 0;
	padding: > 0;
	width: 100%;
	height: 100%;
}
.nav__item{
	list-style: none;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.nav__link{
	text-decoration: none;
}
.nav__icon{
	width: 24px;
	height: 20px;
	background: center center no-repeat;
}
.nav__icon--direction{
	background-image: url(../images/main_icon.png);
}
.nav__icon--star{
	background-image: url(../images/feed_icon.png);
}
.nav__icon--crew{
	background-image: url(../images/team_icon.png);
}
.nav__link:hover .nav__icon--direction{
	background-image: url(../images/main_icon-hover.png);
}
.nav__link:hover .nav__icon--star{
	background-image: url(../images/feed_icon-hover.png);
}
.nav__link:hover .nav__icon--crew{
	background-image: url(../images/team_icon-hover.png);
}
.nav__link:hover .nav__title{
	color: black;
}
.nav__item--active .nav__icon--direction{
	background-image: url(../images/main_icon.png);
}
.nav__item--active .nav__icon--star{
	background-image: url(../images/feed_icon.png);
}
.nav__item--active .nav__icon--crew{
	background-image: url(../images/team_icon.png);
}
.nav__item--active .nav__title {
	color: black;
}
.review__item{
	display: flex;
	overflow: hidden;
}
.review__avatar{
	margin: 20px;
}
.avatar-girl{
	overflow: hidden;
	border-radius: 100%;
	width: 160px;
	height: 160px;
}
.avatar-man{
	overflow: hidden;
	border-radius: 100%;
	width: 160px;
	height: 160px;
}
.avatar-grey{
	overflow: hidden;
	border-radius: 100%;
	width: 160px;
	height: 160px;
}
.avatar-granny{
	overflow: hidden;
	border-radius: 100%;
	width: 160px;
	height: 160px;
}
.pagination{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.pagination__item.active .pagination__link{
	color: #fff;
	background-color: #4b73b5;
}
.pagination__link: hover{

} 
.pagination__item {
	display: inline-block;
	vertical-align: middle;
}
.pagination__display{
	display: flex;
	align-items: center;	
}
.pagination__pages{
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}
.pagination__controlls{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.support{
	display: flex;
	justify-content: space-between;
	align-self: flex-end;
	height: 170px;
	background: #4bb56b;
}
.support__text{
	display: flex;
	justify-content: space-between;
}
.commentsform{
	background: #f5f5f5;
}
.commentsform__text{
	width: 270px;
	height: 45px;
	font-size: 14px;
	color: #a9a8a8;
	padding: >0;
	box-sizing: border-box;
	border: none;
}
.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 76px;
	background: #4b73b5;
}
.footer__text{
	color: white;
}
.LoftSchool{
	color: white;
}

.socials{
	display: flex;
	flex-wrap: wrap;
}
.socials__item {
	display: flex;
	background: center center no-repeat;
}

.socials{
	display: flex;
}
.social__list{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.social__link{
	width: 20px;
	height: 20px; 
	border-radius: 20px;

}
.social__link--vk{
	background: white;
	background: center center no-repeat;
	background-image: url(../images/vk.png);
}
.social__link--fb{
	background: white;
	background: center center no-repeat;
	background-image: url(../images/fb.png);
}
.social__link--google{
	background: white;
	background: center center no-repeat;
	background-image: url(../images/google.png);
}
.social__link--twitter{
	background: white;
	background: center center no-repeat;
	background-image: url(../images/twitter.png);
}
.social__link--mail{
	background: white;
	background: center center no-repeat;
	background-image: url(../images/mail.png);
}
.ul{
	margin: 0;
	padding: 0;
}

*{
	margin: >0;
	padding: >0;
	box-sizing: border-box;
}
.block {
 display: flex;
 justify-content: space-around; 
}