html, body{
	width: 100%;
	height: 100%;
	overflow: visible;
	margin: 0;
}
body{
	margin: 0;
	padding: 0;
	font-family: "roboto", arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
	font-weight: normal;
}
ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color:#4b73b5;
}
button{
	cursor: pointer;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 1160px;
	margin: 0 auto;
}
.block {
 display: flex;
 justify-content: space-around; 
}
.wrapper {
	min-height: 100%;
	min-width: 1100px;
	font-family: "Roboto";
	overflow: hidden;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.wrapper__content{
	flex: 1 0 auto;
}
.bunner{
	width: 900px;
	height: 290px; 
}

.aside{
	width: 20%;
	align-self: flex-start;
	margin-top: 30px;
	padding-top: 30px;
	text-align: center;

}
.title-aside{
	font-family: "roboto", arial, sans-serif;
	font-weight: 700;
	font-size: 20px;
	margin: 25px;
	text-align: center;
	text-transform: uppercase;	
}
.container--flex{
	display: flex;
	justify-content: space-between;
}
.main{
	width: 80%;
}
.title{
	display: flex;
	font-weight: 700;
	font-family: roboto, arial, sans-serif;
	font-size: 35px;
	margin-top: 45px;
	margin-bottom: 30px;	
}
.header {
	background: #4b73b5;
	position: relative;
	padding: 10px 0;
}

.nav{
	margin-top: 40px;
	margin-left: 20px;
}
.welcome{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(../../images/plain-intro.png) center center / cover no-repeat;
}
.welcome__center--block{
	display: flex;
	flex-direction: column;
	animation: bounce 1s 1s cubic-bezier(.46,1.29,1,.83);
}

.welcome__logo{
	margin-bottom: 10px;
	text-align: center;
	
}

.welcome__enter--icon{
	width: 17px;
    height: 18px;
    background-position: -52px -46px;	
	background-image: url(../../images/sprite.png);
	margin-left: 7px;
	transition: 300ms;
	position: absolute;
}

.welcome__enter--btn{
	display: block;
	color: #4b73b5;
	border: 2px solid currentColor;
	text-decoration: none;
	padding: 13px 20px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
	width: 200px;
	text-align: center;
	transition: 300ms;
	position: relative;
	padding:10px;
	
}

.welcome__enter--btn:hover{
	display: block;
	color: #fff;
	border: 2px solid currentColor;
	text-decoration: none;
	padding: 13px 20px;
	text-transform: uppercase;
	font-size: 12px;
	width: 200px;
	text-align: center;
}

.welcome__enter--icon:before .welcome__enter--icon:after{
	content: "";
	display: inline-block;
	width: 17px;
	height: 18px;
	background-image: url(../../images/sprite.png);
	background-repeat: no-repeat;
	background-position: -52px -46px;
	transition: 300ms;
	position: absolute;
	top: 0;
	left: 0;
}

.welcome__enter--btn:hover .welcome__enter--icon:hover{
	transition: 1.5s;
}


.welcome__enter--icon:hover:before{
	width: 17px;
	height: 18px;
	background-position: -5px -74px;
}
.welcome__enter--icon:hover:after{
	opacity: 1;
}
.welcome__enter--icon:hover{
	content:"";
	width: 17px;
	height: 18px;
	background-image: url(../../images/sprite.png);
	background-position: -5px -74px;	
}

.welcome__enter--icon:after{
	content: "";
	width: 17px;
	height: 18px;
	background-image: url(../../images/sprite.png);
	background-position: -5px -74px;
	transition: 300s;
	top: 0;
	left: 0;
	opacity: 0;
	
}
@keyframes bounce{
	0% {
		transform: translateY(0);
		opacity: 0;
	}

	30%{
		opacity: 1;
		transform: translateY(-30px);
	}

	40%{
		transform: translateY(0);
	}

	70%{
		transform: translateY(-15px);
	}

	80%{
		transform: translateY(0);
	}

}