html, body{
	width: 100%;
	height: 100%;
	overflow: visible;
	margin: 0;
}
body{
	margin: 0;
	padding: 0;
	font-family: "roboto", arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
	font-weight: normal;
}
ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color:#4b73b5;
}
button{
	cursor: pointer;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 1060px;
	margin: 0 auto;
}
.block {
 display: flex;
 justify-content: space-around; 
}
.wrapper {
	min-height: 100%;
	min-width: 1100px;
	font-family: "Roboto";
	overflow: hidden;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.wrapper__content{
	flex: 1 0 auto;
}
.bunner{
	width: 900px;
	height: 290px; 
}

.aside{
	width: 30%;
	align-self: flex-start;
	margin-top: 30px;

}
.main{
	width: 80%;
}
.title{
	display: flex;
	font-weight: 700;
	font-family: roboto, arial, sans-serif;
	font-size: 35px;
	margin-top: 45px;
	margin-bottom: 30px;	
}
.header {
	background: #4b73b5;
	position: relative;
	padding: 10px 0;
}

.nav{
	margin-top: 40px;
	margin-left: 20px;
}
.welcome{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(../../images/plain-intro.png) center center / cover no-repeat;
}
.welcome__center--block{
	display: flex;
	flex-direction: column;
	animation: bounce 1s 1s infinite cubic-bezier(.46,1.29,1,.83);
}

.welcome__logo{
	margin-bottom: 10px;
	text-align: center;
}
.welcome__enter--btn{
	display: block;
	color: #4b73b5;
	border: 2px solid currentColor;
	text-decoration: none;
	padding: 13px 20px;
	text-transform: uppercase;
	font-size: 12px;
	width: 200px;
	text-align: center;
}
@keyframes bounce{
	0% {
		transform: translateY(0);
		opacity: 0;
	}

	30%{
		opacity: 1;
		transform: translateY(-30px);
	}

	40%{
		transform: translateY(0);
	}

	70%{
		transform: translateY(-15px);
	}

	80%{
		transform: translateY(0);
	}

}