.breadcrumbs{
	text-decoration: none;
}
.breadcrumbs__pages{
	display: flex;
	margin-top: 45px;
	margin-bottom: 25px;
}
.breadcrumbs__pages-item{
	margin-right: 5px;
	list-style: none;
}
.breadcrumbs__pages-item:last child{
	margin-right: 0;
}