.container{
	width: 1060px;
	margin: 0 auto;
	display: flex;
}
.container-content{
	width: 1060px;
	margin: 0 auto;
	display: flex;
}
.container--flex{
	display: flex;
	justify-content: space-between;
	align-items: center
}
.bunner{
	width: 900px;
	height: 290px; 
}