.header {
	background: #4b73b5;
	position: relative;
}
.container{
	width: 1060px;
	margin: 0 auto;
	display: flex;
}
.container-content{
	width: 1060px;
	margin: 0 auto;
	display: flex;
}
.container--flex{
	display: flex;
	justify-content: space-between;
	align-items: center
}
.logo{
	display: inline-block;
	vertical-align: bottom;
}
.company-contacts{
}
.company-contacts__phone{
	color: white;
  	font-size: 21px;
  	font-family: roboto;
  	font-weight: 700;
  	border: none;
}

.company-contacts__text{
	color: white;
    font-size: 14px;
    font-family: roboto;
    font-weight: 700;
    background-color: transparent;  
}
