.nav{
	margin-top: 40px;
	margin-left: 20px;
}
.nav__item{
	list-style: none;
	overflow: hidden;
}
.nav__item:last child {
	margin-bottom: 0;
}
.nav__item--active .nav__link{
	color: #000;
}
.nav__item--active .nav__link:hover{
	color: #4b73b5;
}
.nav__item--active .nav__link:after{
	opacity: 1;
}
.nav__link{
	text-decoration: none;
	display: flex;
	font-family: roboto, arial, sans-serif;
	text-transform: uppercase;
	color:#4b73b5;
	margin: 20px;
	transition: 0.5s;
	position: relative;
	padding-left: 30px;
}
.nav__link:hover{
	color: black;
}
.nav__link:hover:after{
	opacity: 1;
}
.nav__link:before, .nav__link:after{
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(../../images/sprite.png);
	background-repeat: no-repeat;
	transition: 0.5s;
	position: absolute;
	top: 0;
	left: 0;
}
.nav__link--direction:before{
	width: 17px;
    height: 18px;
    background-position: -52px -46px;
}
.nav__link--direction:after{
	width: 17px;
    height: 18px;
    background-position: -79px -46px;
    opacity: 0;
}
.nav__link--star:before{
	width: 20px;
    height: 18px;
    background-position: -21px -5px;
}
.nav__link--star:after{
	width: 20px;
    height: 18px;
    background-position: -51px -5px;
    opacity: 0;
}

.nav__link--crew:before{
	width: 23px;
    height: 18px;
    background-position: -118px -5px;
}
.nav__link--crew:after{
	width: 23px;
    height: 18px;
    background-position: -118px -33px;
    opacity: 0;
}
.nav__title{
	font-family: roboto, arial, sans-serif;
}
.nav__icon{
	margin-right: 20px;
	width: 24px;
	height: 20px;
	background: center center no-repeat;
	color: black;
	transition: 1.5s;
}

.nav__link:hover .nav__title{
	color: black;
	transition: 1.5s;
}

.nav__item--active {
	color: black;
}
