.news__list{
	margin-bottom: 60px;
}
.news__item{
	display: flex;
	overflow: hidden;
	margin: 55px;
	font-family: roboto, arial, sans-serif;
}
.news__avatar{
	margin: 20px;
	overflow: hidden;
	border-radius: 100%;
	width: 160px;
	height: 160px;
	flex-shrink: 0;
	margin: 20px;
}
.news__desc{
	font-family: roboto, arial, sans-serif;
}
.news__date{
	font-family: roboto, arial, sans-serif;
	font-size: 12px;
	font-weight: 300;
	margin: 20px;
}
.news__username{
	font-family: roboto, arial, sans-serif;
	font-size: 15px;
	font-weight: 700;
	margin: 20px;
	
}
.news__desc-text{
	font-family: "roboto", arial, sans-serif;
	font-weight: 300;
	margin: 20px;
}