.pagination{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: roboto, arial, sans-serif;
	margin-bottom: 30px;
	margin-bottom: 30px;
}
.pagination__display{
	display: flex;
	align-items: center;
	margin-right: 20px;
	
}
.pagination__pages{
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}
.pagination__controlls{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.pagination__prev{
	margin-right: 18px;
	text-decoration: none;
	color: #000;
}
.pagination__pages-item{
	margin-right: 18px;
	font-family: roboto, arial, sans-serif;
  	font-weight: 700;
}
.pagination__pages-item--active{
	margin-right: 10px;
}
.pagination__pages-item .pagination__pages-item--active{
	margin-right: 10px;
}
.pagination__pages-item--active .pagination__link{
	background-color: #4b73b5;
	text-decoration: none;
	color: #fff;
	padding: 5px;
	border-radius: 3px;
	margin-right: 0;
}
.pagination__next{
	text-decoration: none;
	color: #000;
}
.pagination__link{
	text-decoration: none;
	color: #000;
}
.pagination__link--active{
	background: #4b73b5;
	text-decoration: none;
	color: white;	
	margin: 0;
	padding: 5px;
	border-radius: 3px;
}