.part__list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.part__item{
	overflow: hidden;
	width: 33.3%;
	height: 68px; 
	background: center center no-repeat;
	list-style: none;
	padding: 65px;
}

.part__item:last child {
	margin-bottom: 0;
}

.part__img{
	filter: grayscale(100%);
}
.part__img:hover{
	filter: none;
	transition: 1.5s;
}





