.support{
	background-color: #4b73b5;
	background-image: url(../../images/mark.png);
	background-repeat: repeat;
	text-align: center;	
	align-self: flex-start;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	padding: 10px;
	text-align: center;
}
.support__text{
	width: 700px;
	margin: 0 auto;
	padding: 30px 0;
	font-family: roboto, arial,sans-serif;
	font-size: 15px;
	color: #fff;
}
.support__text-link{
	font-family: roboto, arial,sans-serif;
	font-weight: 700;
	color: #fff;
}
.support__phone{
	font-family: roboto, arial,sans-serif;
	font-weight: 700;
	color: #fff;
}

