.support{
	background-color: #4b73b5;
	background-image: url(../../images/mark.png);
	background-repeat: repeat;
	text-align: center;
	
	align-self: flex-start;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	width: 250px;
	padding: 20px;
	text-align: center;
}
.support__text{
	width: 700px;
	margin: 0 auto;
	padding: 40px 0;
	color: #fff;
}
.support__text-link{
	font-family: roboto, arial,sans-serif;
	font-weight: 700;
	color: #fff;
}
.support__phone{
	font-family: roboto, arial,sans-serif;
	font-weight: 700;
	color: #fff;
}

