.tarrifs__title{
	font-family: roboto;
	font-weight: 300;	
}
.tarrifs__text{
	font-family: roboto;
	font-weight: 300;
}
.tarrifs__descr-list{
	font-family: roboto;
	font-weight: 300;
}
.tarrifs__price{
	font-family: roboto;
	font-weight: 700;
}
.tarrifs__icon{
	background-color: #4b73b5;
	border-radius: 50%;
	width: 66px;
	height: 66px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 35px;
	position: relative;
}
.tarrifs__icon-img{
	overflow: hidden;
	border-radius: 100%;
	width: 68px;
	height: 68px; 
	background: center center no-repeat;
	background-color: #4b73b5;
}
.tarrifs__icon-img--flower{
	background-image: url(../images/flower.png);
}
.tarrifs__icon-img--star{
	background-image: url(../images/star.png);
}
.tarrifs__icon-img--palet{
	background-image: url(../images/palet.png);
}
.tarrifs__list{
	display: flex;
	justify-content: center;
}
.a {
	line-height: 100px;
    display: inline-block;
}
.tarrifs__item{
	width: 250px;
	padding: 30px;
	text-align: center;

}